.main-primary-offers {
    background: aqua;
    align-items: center;
    justify-content: center;
}


.primary-offers{/* this is the parent element that gives scroll */
    width: 100%;
    display: felx;
    overflow-x:auto ;
    gap: 5rem;
    scroll-behavior: smooth;
}
.daily-offers {/* this is a card */
    scroll-snap-type: start;
    flex: 0 0 auto;
    max-width: 100%;
    outline: 1px solid red;
    margin-inline: auto;
}

.daily-offers img {
    outline: 1px solid red;
    max-width: 100%;
    display: block;
    aspect-ratio: 2/1;
    object-fit: contain;
}